{% extends 'divccon/base.html' %}

{% block header %}
<nav class="row d-flex align-items-center my-3">
    <div class="col-1 "></div>
    <div class="col-7">
        <h1 class="fw-bolder">Registration Form-II</h1>
        <hr>
    </div>
    <div class="col-4"></div>
</nav>
{% endblock header %}

{% block container %}
    <form class="form-group" action="{% url 'registration_two' %}" method="post">
        {% csrf_token %}
        <h2>Weldone, {{records.firstname}} {{records.lastname}}</h2>
        <h3 class="fs-5 text-success">Continue to fill the form below:</h3>
        {{records}}

        <div class="row d-flex align-items-center">
            <div class="col-12 input-group mb-3">
                <label for="title"><span class="input-group-text" id="title-label">Title</span></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter your Title.... For example: Mr|Mrs|Revd|Rt Revd|Most Revd|Barr|Dr|Pharm|Arch" required>
            </div>   
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 input-group mb-3">
                <label for="phone"><span class="input-group-text" id="phone-label">Phone no.</span></label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your Phone Number.... For example: +2348031111111" required>
            </div>   
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 input-group mb-3">
                <label for="email"><span class="input-group-text" id="email-label">Email</span></label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your Email.... For example: myemail@gmail.com" required>
            </div>   
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 input-group mb-3">
                <label for="sex"><span class="input-group-text" id="sex-label">Sex</span></label>
                <select class="form-select form-select-sm" name="sex" id="sex" required>
                    <option selected>Select your Sex</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 input-group mb-3">
                <label for="is_anglican"><span class="input-group-text" id="is_anglican-label">Anglican?</span></label>
                <select class="form-select form-select-sm" name="is_anglican" id="is_anglican" required>
                    <option selected>Are you an Anglican?</option>
                    <option value="ANGLICAN">YES</option>
                    <option value="NON-ANGLICAN">NO</option>
                </select>
            </div>   
        </div>
        
        <button type="submit" class="btn btn-success">Continue</button>
    </form>
{% endblock container %}

