{% extends 'divccon/base.html' %}

{% block header %}
<nav class="row d-flex flex-column justify-content-center align-items-center my-3">
        <h1 class="fw-bolder">Registration Form-5 / 7</h1>
        <hr>
        <h2>Great!, {{sessions.title}} {{sessions.first_name}} {{sessions.last_name}}</h2>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <h3 class="text-success fs-4 mb-4">Now, Choose your Church:</h3>
            </div>
        </div>
        
</nav>
{% endblock header %}

{% block container %}
            <!-- messgae Alert -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% else %}   
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Error Alert -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            <strong>Error!</strong> {{ error|escape }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form class="form-group" action="{% url 'registration_five' %}" method="post">
                {% csrf_token %}
                {{sessions}}
                {{sessions_view}}
                <div class="row d-flex align-items-center">
                    <div class="col-12 input-group mb-3">
                        <label for="id_church"><span class="input-group-text" id="church-label">Church</span></label>
                        {{form.church}}
                    </div>   
                </div>
                <div class="row"><p></p><p></p></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button type="submit" class="btn btn-success">Continue</button>
                        <a href="{% url 'registration_four' %}" type="submit" class="btn btn-danger">Go Back</a>
                    </div>
                </div>
            </form>

{% endblock container %}

